* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* Nav */

/* .navbar {
    background: rgba(65, 68, 66, 0.9);
} */

.nav-link,
.enlace-footer {
    color: white;
    font-weight: bold;
}

.navbar-nav .contenido-menu .nav-link.active {
    font-weight: bold;
    color: white;
    background-color: #5499C7;
}

.nav-link:hover,
.enlace-footer:hover {
    color: lightsalmon;
}

.nav-link:focus {
    color: white;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.contenido-menu {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* .dropdown-menu {
    background: rgba(65, 68, 66, 0.9);
}
 */
.dropdown-item {
    color: white;
    font-weight: bold;
}

a.dropdown-item:active {
    background: transparent;
    color: white;
}

.dropdown-item:hover {
    color: lightsalmon;
    background-color: transparent;
}

@media (max-width: 992px) {

    .toogle-logo,
    .toogle-contenido,
    .toogle-usuario {
        display: flex;
        justify-content: center;
    }

    .menu,
    .contenido-menu {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        text-align: center;
    }

    .menu-grid {
        display: flex;
        justify-content: space-around;
    }

    .navbar-nav .contenido-menu .nav-link.active {
        padding: 10px;
    }

}

@media (max-width: 500px) {

    .menu,
    .contenido-menu {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        text-align: center;
    }

}

/* Footer */

.enlace-footer {
    text-decoration: none;
}

/* Títulos */
h3 {
    color: #2874A6;
}


/* Iconos */

.iconos-menu,
.iconos {
    width: 50px;
    height: 50px;
}

.iconos-tabla {
    width: 30px;
    height: 30px;
}

/* Botones */

.boton {
    background-color: #5499C7;
    color: white;
    text-decoration: none;
    padding: 12px 36px;
    border: 0;
}

.boton:hover {
    background-color: #2874A6;
    color: white;
}

/* Formularios */

.form-control {
    border-radius: 0;
}